html {
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(-20deg, rgb(100, 100, 255), lightgreen);
    background-repeat: none;
    height: 100%;
    width: 100%;
    margin: 0px;
}

* {
     font-family: monospace;
 }

*:focus {
    outline: none;
}

.gpio-container {
    width: 100%;
}

.gpio-div {
    float: center;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid rgba(255, 200, 200, 50);
    text-align: center;
    margin: 5px;
}

.gpio-div:hover {
    background-color: rgba(170, 170, 170, 50);
    transition: 0.3s;
    box-shadow: 0 0 5px grey;
}

@media only screen and (min-width: 600px) {
    .gpio-container {
        width: 33.3%;
        float: left;
    }
}
