<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/main.css">
        <title>WebGPIO controller</title>
    </head>
    <body>
        <h1>WebGPIO panel</h1>
        {% for gpio in gpioList %}
        <div class="gpio-container">
            <label for="{{ gpio }}" class="gpio-parrent">
                <div class="gpio-div">
                    {{ gpio }}
                    <input type="checkbox" class="gpios" id="{{ gpio }}" name="{{ gpios[gpio].gpio }}" oninput="updateGPIO(this);"{% if gpios[gpio].state == True %} checked{% endif %}>
                </div>
            </label>
        </div>
        {% endfor %}
        <script src="/static/javascript.js" charset="utf-8"></script>
    </body>
</html>
